@font-face {
	font-family: 'SourceSansPro';
	src: url("font/source-sans-pro/SourceSansPro-ExtraLight.otf");
}

h2 {
	color: #339CFF;
}

.enTete {
	text-align: center;
}

.photoProfil {
	overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    margin: auto;
}

body {
	background-image: url("../img/photo_fond.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'SourceSansPro', Arial, serif;
}
